body {
  font-family: "Barlow", sans-serif;
  margin: 0;
  font-size: 14px;
}

#id {
  position: fixed;
}

.body--bckcont__header__header--navbar__links {
  display: none;
}

#hide {
  display: none;
}

.body--bckcont__header__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.body--bckcont__header__header--navbar__links__link {
  color: white;
  text-decoration: none;
  padding: 0.7rem 1.5rem;
  margin: 0.5rem;
}

.body--bckcont__header__header--navbar__links__link:hover {
  font-weight: bold;
  background-color: rgb(218, 216, 216);
  border-radius: 1rem;
}

.body__bckcont {
  background-image: url("image-header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  height: 80vh;
  padding: 1rem;
}

.body--bckcont__main__fstsec {
  text-align: center;
  padding: 2rem;
}

.body--bckcont__main--fstsec__hed {
  margin-bottom: 7rem;
  color: white;
  letter-spacing: 5px;
  font-weight: 600;
}

.main__scndsec {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
}

.main--scndsec__txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  margin-left: 4rem;
  width: 60%;
}
.main--scndsec--txt__hed {
  letter-spacing: 5px;
  font-weight: 600;
}
.main--scndsec__image {
  position: relative;
}
.main--scndsec__image img {
  width: 100%;
  height: 100%;
}

.main--scndsec--txt__link {
  color: black;
  text-decoration: none;
}

.main--scndsec--txt__link:hover {
  text-decoration: underline;
}

.main--scndsec--image__par {
  position: absolute;
  text-align: center;
  bottom: -3%;
}

.main__thrdsec {
  padding: 3rem;
}

.main--thrdsec__hed {
  color: rgb(151, 149, 149);
  letter-spacing: 5px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 3rem;
}

.main--thrdsec--tstm__tstfy img {
  border-radius: 50%;
  margin-bottom: 1rem;
}

.main--thrdsec--tstm__tstfy {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.main--thrdsec--tstm--tstfy__txt {
  text-align: center;
}
.main--thrdsec--tstm--tstfy__names {
  text-align: center;
}
.main--thrdsec--tstm--tstfy--names__scnd {
  color: rgb(173, 172, 172);
}

.main--thrdsec__tstm {
  display: grid;
  grid-template-columns: 1fr;
}

.main__frthsec {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.main__frthsec img {
  width: 100%;
  height: 100%;
}

footer {
  background-color: hsl(168, 34%, 41%);
  padding: 3rem;
  text-align: center;
}
.footer__imglnks {
  margin-bottom: 3rem;
}
.footer__imglnks img {
  margin-bottom: 1rem;
}
.footer--imglnks--lnks__link {
  color: hsl(168, 53%, 77%);
  text-decoration: none;
  padding: 1rem;
  display: flex;
}
.footer__logos svg {
  padding: 1rem;
}
.footer--imglnks__lnks {
  display: flex;
}
